{
  "env": {
    "browser": true,
    "node": true,
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": "always",
    "quotes": [2, "single"],
    "no-underscore-dangle": [0],
    "strict": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}]
  }
}
